.tableUser{
    border: black 1px solid;
    border-spacing: 20px;
    margin: 10px auto 0 auto; 
}
.heading{
    text-align: center;
    background: #97c7ed;
    cursor: pointer;
}
.btn {
    cursor: pointer;
}

